%columnaindex{
    display: flex;
    flex-direction: column;
    height: 100%;
   
    justify-content: space-evenly;
    gap: 40px;
    
};
%tipografia{
    font-family: 'Dancing Script'; 
    text-align: center;
    color: red;
   font-size:xx-large;
   text-decoration: red;
}
