.columnaarticle{
    display:map-get($colum, display);
  flex-direction:map-get($colum, flex-d);
  gap: map-get($colum, gap);
justify-content:map-get($colum, jc);
    }
    @media(max-width:576px){
        .columnaarticle{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
           margin-right: 50%;
         
        justify-content: center;
        align-items: center;
        }
    }
    .boton{
        display: block;
        color:map-get($h1, cl );
        border-radius: 10px 10px;
        padding: 10px 10px;
        text-align: map-get($h1, tx );
        background-color:moccasin;
            font-family:map-get($h1, letra );
            font-size: x-large;
        text-decoration: solid;
        
        &:hover{
                background-color: pink;
            color: aqua;
        }
  
    }
@media(max-width:576px){
    .boton{
        background-color: pink;
    }
    .boton:hover{
        background-color: aqua;
    }
}






.imagenlugar{
    width: 800px;
   height: 500px;
   border-radius: 50px;
  
 
 
  }
  @media(max-width:576px) {
    .imagenlugar{
        width: 350px;
        height: 350px;
color: aqua;
         }
   }
   

   body{
    padding: 0%;
    margin: 0%;
   }

   .direction{
    display: flex;
    flex-direction: column;
   }

.redes{
    color: brown;
    text-decoration: none;
}
@media(max-width:576px){
  .redes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  width: 20px;
 
  
  }
}


.hm{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

   
    
    
    }
    
    @media (max-width:576px){
        .hm{
            display: block;
           
        }
    }



.margen{
    margin-left: 2px;
}

.mcr{
    width: 100%;
    height: 800px;
}
@media(max-width:576){
    .mcr{
        width: 500px;
        height: 500px;
    }
}
