footer{
    @include footer(url(../imagenes/fondo\ para\ section.jpg), cover, no-repeat, 'Dancing Script', red )
}

.material-symbols-outlined{
 margin: 5px 5px;
    
        color: $font-f;
        font-size: 4em;
        font-variation-settings:
      'FILL' 1,
      'wght' 10,
      'GRAD' 0,
      'opsz' 48

}
.material-symbols-outlined:hover{
    color: aqua;
}

@media (max-width:576px){
    .material-symbols-outlined {
        margin: 5px 5px;
        color: pink;
        font-size: 4em;
        font-variation-settings: "FILL" 1, "wght" 10, "GRAD" 0, "opsz" 48;
      }
      
      .material-symbols-outlined:hover {
        color: #dc3545;
      }
}
