h1{
    color:map-get($h1, cl );
    text-align: map-get($h1, tx );
    font-family:map-get($h1, letra );
    font-size:map-get($h1, alto );

}
main{
    @extend %tipografia;
}
// use el mismo maps del h1
h2{
    color:map-get($h1, cl);
    text-align:map-get($h1, tx);
    font-family:map-get($h1, letra);
}
.texto{
    @extend %tipografia;
}

.carrousel-color{
    background-color: #dc3545;
}

.colorcard{
    background-color: pink;
}

.card{
    background-color: pink;
}


.fuera{
    text-decoration-line:none;
}