.columnaindex{
    @extend %columnaindex;


}
.fondo {
    background-image: url(../imagenes/color\ beige.jpg);
background-repeat: repeat;
}
.titulocarta{
    color:map-get($h1, cl );
    font-family:map-get($h1,letra );  
}
.none .card{
    background-color: pink;
  
}
@media(max-width:576px){
    .card{
        background-color: aqua;
    }
    .card:hover{
    background-color:pink ;
    } 
}



.tamaño{
    width: 360px;
    height: 400px;
    border-radius: 20px;
}

@media(max-width:576px){ 
.orden{
   display: flex;
  flex-direction: column;
 color:map-get($h1, cl );
font-family: 'Dancing Script';


}
}

